
.coil-restricted {
    color: #FFF;
    padding: 120px 20px 20px 20px;
    border-radius:4px;
    position: relative;
    z-index: 2;
    top: -100px;
}

.coil-restricted p {
    font-size: 1.3em;
    text-align: center;
}

.start-button {
    -webkit-user-select:none;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px;
    cursor:pointer;
    font-size:1.2em;
    font-weight:400;
    line-height:1.42857;
    margin-bottom:0;
    padding:6px 12px;
    text-align:center;
    touch-action:manipulation;
    vertical-align:middle;
    white-space:nowrap;
    background-color:#5CB85C;
    border-color:#4CAE4C;
    color:#FFFFFF;
}

.start-button a {
    text-decoration: none;
    border-bottom: 0px;
    color: #FFF
}
.start-button a:hover {
    color: #eff6fc;
}